<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740456706263-iv6ls26dathivrrg6atpalrslitjh4ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740456706263-iv6ls26dathivrrg6atpalrslitjh4ie</string>
	<key>API_KEY</key>
	<string>AIzaSyDr1Ts_rol-6d1Dnwm80SuYSqZttuisTck</string>
	<key>GCM_SENDER_ID</key>
	<string>740456706263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boxob</string>
	<key>PROJECT_ID</key>
	<string>boxob-d1801</string>
	<key>STORAGE_BUCKET</key>
	<string>boxob-d1801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740456706263:ios:56b55528f17065fb8e4092</string>
	<key>DATABASE_URL</key>
	<string>https://boxob-d1801.firebaseio.com</string>
</dict>
</plist>